{{/* DEFAULTS */}}
{{ $user    := "KevinConti" }}
{{ $height  := 500 }}
{{ $tab     := "css,result" }}{{/* html|css|js|result */}}
{{ $theme   := 8862 }}{{/* create on codepen.io */}}
{{ $preview := false }}{{/* Use click-to-load */}}


<script
    data-slug-hash="{{ .Get "id" }}"
    data-user="{{ or (.Get "user") $user }}"
    data-height="{{ or (.Get "height") $height }}"
    data-preview="{{ or (.Get "preview") $preview }}"
    data-default-tab="{{ or (.Get "tab") $tab }}"
    data-theme-id="{{ or (.Get "theme") $theme }}"
    class='codepen'
    async
    src="//codepen.io/assets/embed/ei.js"
></script>